<div class="backGroundImage">
  <!-- <div class="card"> -->
    <!-- <div class="card-body"> -->
    <div class="col-md-8 mx-auto">
    <div class="card-body" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);">
    <div class="card-body profileCard">  
      <div class="row">  
        <span class="col-md-6 float-left">
    
        </span>  
        <span class="col-md-6"> 
            <button type="button" class="btn btn-outline-primary float-right fa fa-edit">Edit Profile</button>
        </span> 
      </div>
      <div class="row">
        <span class="col-md-3"> 
        
        <img src="./assets/profile.png" class="avatar" alt="..." style="max-width:10rem;"> 
        </span>
        <span class="col-md-8">
          <div class="text-justify Text">
          <p><b style="color:#203761;">Tarak Kocharla</b></p>
          <p><i class="fa fa-envelope"></i>tarak.vijaya99@gmail.com</p>
          <p><i class="fa fa-phone"></i>+91-9515644943</p>
          <p><i class="fa fa-location-arrow"></i>Bhimavaram, 534201 - india</p>
          <!-- <p>
            Working for two client side applications, maintaining companies website, dealing some required designs for local clients.
          </p> -->
          </div>
        
        </span>
        </div>
    </div>

    <hr>

    <div class="card-body profileCard">
      <div class="row">
        <div class="heading">
          <h5>ABOUT:</h5>
        </div>
        <div class="Text">
          <p class="justify-content-center Text">Commerce For the past 15 years, I've been developing applications for the web using mostly ANGULAR. 
            I do this for a living and love what I do as every day there is something new and exciting to learn.</p>
        </div>
      </div>
    </div>

    <hr>

    <div class="card-body profileCard">
      <div class="row">
        <div class="heading">
          <h5>PROFESSIONAL CREDENTIALS:</h5>
        </div>
        
      </div>
      <div class="Text">
      <div class="row">
        <span class="col-md-3"> 
          <p class="float-left"><b>Experience</b></p> 
        </span>
        <span class="col-md-9">
          <p class="float-left">5 Years</p>
        </span>
      </div>
      <div class="row">
        <span class="col-md-3"> 
          <p class="float-left"><b>Project Name</b></p> 
        </span>
        <span class="col-md-9">
          <p class="float-left">School Management</p>
        </span>
      </div>
      <div class="row">
        <span class="col-md-3"> 
          <p class="float-left"><b>Duration of Project</b></p> 
        </span>
        <span class="col-md-9">
          <p class="float-left">3 Months</p>
        </span>
      </div>
      </div>
    </div>

    <hr>

    <div class="card-body profileCard">
      <div class="row">
        <div class="heading">
          <h5>SKILLS:</h5>
        </div>
        
      </div>
      <div class="Text">
        <p class="float-left">Communication, Flexibility, Team Work, Personal Skills</p>
      </div>
    </div>

    <hr>

    <div class="card-body profileCard">
      <div class="row">
        <div class="heading">
          <h5>WORK EXPERIENCE:</h5>
        </div>
        
      </div>
      <div class="text-justify Text">
          <p><b>Company - Accuracy</b></p>
          <p>Full Time</p>
          <p>Feb 2019 - present 5months</p>
          <p>
            Working for two client side applications, maintaining companies website, dealing some required designs for local clients.
          </p>
      </div>
    </div>

    <hr>

    <div class="card-body profileCard">
      <div class="row">
        <div class="heading">
          <h5>EDUCATION:</h5>
        </div>
        
      </div>
      <div class="text-justify Text">
        <p><b>Vishnu Institute of Technology</b></p>
        <p>Bachelor of Technology - B Tech, IT</p>
        <p>2015 - 2019</p>
      </div>
      <div class="text-justify Text">
        <p ><b>Vishnu Institute of Technology</b></p>
        <p>Master of Business Administration - MBA</p>
        <p >2020 - 2022</p>
      </div>
    </div>
    </div>
    </div>
  <!-- </div> -->















<!-- <div class="card profileCard" style="max-width:55rem;">
    <div class="row no-gutters">
      <div class="col-md-5 mt-3">
        <img src="/assets/pic.jpg" class="card-img" alt="..." style="max-width:15rem;">
        <p class="card-text heading" style="font-size:2rem;"><b>Tarak Kocherla</b></p>
        <p class="text-muted Text">Web Developer</p>
        <p class="Text">Narasayya agraharam, Bhimavaram - india</p>
     </div>
      
      <div class="col-md-7">
        <a routerLink="/profileForm" class="float-right"><i class="fa fa-edit"></i>edit</a>
        <div class="card-body mt-5">
          <div class="row Text">
            <span class="col-md-6"> 
            <i class="fa fa-address-book" style="float:right"></i>
            </span>
            <span class="col-md-6">
            <p>9666666667</p>
            </span>
          </div>
          <div class="row Text">
            <span class="col-md-6"> 
            <i class="fa fa-list" style="float:right"></i>
            </span>
            <span class="col-md-6">
            <p>5 Years</p>
            </span>
          </div>
          <div class="row Text">
            <span class="col-md-6"> 
            <i class="fa fa-city" style="float:right"></i>
            </span>
            <span class="col-md-6">
            <p>Hyderabad</p>
            </span>
          </div>
          <div class="row Text">
            <span class="col-md-6"> 
            <i class="fa fa-envelope" style="float:right"></i>
            </span>
            <span class="col-md-6">
            <p>tarak.vijaya99@gmail.com</p>
            </span>
          </div>
          
        </div>
      </div>
    </div>

 

</div>


<div class="card profileCard" style="max-width:55rem;">
  <div class="card-header"> 
    <div class="row">  
      <span class="col-md-6"> 
      <h5 class="card-title heading" style="float:left;"><b>ABOUT</b></h5>
      </span>
      <span class="col-md-6">
        <a href="#" class='float-right'><i class="fa fa-edit"></i>edit</a>
      </span>
      </div>
   </div>
    <div class="row no-gutters">
        <div class="card-body">
          <p class="justify-content-center Text">Commerce For the past 15 years, I've been developing applications for the web using mostly ANGULAR. 
            I do this for a living and love what I do as every day there is something new and exciting to learn.</p>
        </div>
      
    </div>


</div>


<div class="card profileCard" style="max-width:55rem;">
  <div class="card-header">
   <div class="row">  
    <span class="col-md-6"> 
    <h5 class="card-title heading" style="float:left"><b>EXPERIENCE</b></h5>
    </span>
    <span class="col-md-6">
      <a href="#" class='float-right'><i class="fa fa-edit"></i>edit</a>
    </span>
    </div>
   </div>
    <div class="row no-gutters">
         <div class="card-body">
          <div class="row">
          <span class="col-md-3"> 
          
          <img src="http://accuracy.com.sg/images/logo.png" class="avatar" alt="..." style="max-width:10rem;"> 
          </span>
          <span class="col-md-8">
            <div class="text-justify Text">
            <p><b style="color:#203761;">Web Designer and Developer</b></p>
            <p>Accuracy - Full Time</p>
            <p>Feb 2019 - present 5months</p>
            <p>
              Working for two client side applications, maintaining companies website, dealing some required designs for local clients.
            </p>
            </div>
          
          </span>
          </div>

        
         
        </div>
    
    </div>



</div>

<div class="card profileCard" style="max-width:55rem;">
  <div class="card-header">
   <div class="row">  
    <span class="col-md-6"> 
    <h5 class="card-title heading" style="float:left"><b>QUALIFICATION</b></h5>
    </span>
    <span class="col-md-6">
      <a href="#" class='float-right'><i class="fa fa-edit"></i>edit</a>
    </span>
    </div>
   </div>
    <div class="row no-gutters">
         <div class="card-body">
          <div class="row">
          <span class="col-md-3"> 
          
          <img src="https://www.andhrauniversity.edu.in/img/slider/1.jpg" class="avatar" alt="..." style="max-width:10rem;"> 
          </span>
          <span class="col-md-8">
          <div class="text-justify Text">  
          <p ><b style="color:#203761;">Vishnu Institute of Technology</b></p>
          <p>Master of Business Administration - MBA</p>
          <p >2020 - 2022</p>
          </div>
          </span>
          </div>

          <div class="row">
            <span class="col-md-3"> 
            
            <img src="https://www.andhrauniversity.edu.in/img/slider/1.jpg" class="avatar" alt="..." style="max-width:10rem;"> 
            </span>
            <span class="col-md-8">
            <div class="text-justify Text">  
            <p><b style="color:#203761;">Vishnu Institute of Technology</b></p>
            <p>Bachelor of Technology - B Tech, IT</p>
            <p>2015 - 2019</p>
            </div>
            </span>
            </div>
          
        </div>
    
    </div>



</div> -->


</div>