
<app-applicant></app-applicant>


<div class="container-fluid">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <h4> CONTACT INFO</h4>
    </li>
  </ol>
  <div class="card">
    <!-- <div class="hero-image" style="height: 418px;background-image: url('assets/contact_us.png');
    background-repeat: no-repeat;
    background-size: cover;">
      <div class="hero-text">
        <h1 style="color: black;">Contact Info</h1>
        
      </div>
    </div> -->
    <!-- <div class="hero-text"> -->
        <h1 style="color: #37aac8;text-align: center;">Contact Info</h1>
        
    <!-- </div> -->
    <div style="text-align: center;">
        <img src="assets/contact_us.png" style="height: 100%;">
    </div>
    <div   class="card-body">
          <div   class="row text-center">
            <div   class="col">
              <img   src="assets/phone.png">
              <h4   class="mt-3">Phone:</h4>
              <p   class="mt-3">+91 9526071236</p>
            </div>
            <div   class="col">
              <img   src="assets/email.jpg">
              <h4   class="mt-3">Email:</h4>
              <p   class="mt-3">support@accuracy.com.sg</p>
            </div><div   class="col">
              <img   src="assets/address.png">
              <h4   class="mt-3">Address:</h4>
              <p   class="mt-3">H.no:7-1-211/28, opp.Indian bank, D.K.Road</p>
              <p  > Ameerpet, Hyderabad,</p>
              <p  > Telangana India-500038.</p>
            </div>
        </div>
        </div>
    </div>
</div>