.card{
    background:linear-gradient( #189ad3, pink);
    min-height: 49em;
}

.container{
    margin-top: 100px;
}

.card-body{
    background: white;
    border-radius: 5px;
}
label{
    font-weight: bold;
    font-size: 20px;
}
input{
    border: 1px solid black;
}
