<div class='container mx-auto'>
    <div class="content">
        <p>This privacy policy has been compiled to better serve those who are concerned with how their ‘Personally identifiable information’ (PII) is being used online. PII, as used in SINGAPORE privacy law and information security, is information that can be used on its own or with other information to identify, contact, or locate a single person, or to identify an individual in context. The Personal Data Protection Act 2012 (the "Act") sets out the law on data protection in Singapore. Apart from establishing a general data protection regime, the Act also regulates telemarketing practices. Accept the policy before going to next step. For any additional details please contact @ singapore@icmai.in</p>
            <br><br><br>

            <div>
                <!-- <button type="submit" class="btn btn-primary" style="margin-right: 25px" routerLink='/app-membership'>Agree</button> -->
                <button type="submit" class="btn btn-primary" style="margin-right: 25px" routerLink='/membershipForm'>Agree</button>

                <button type="submit" class="btn btn-secondary" routerLink="/app-profile" >cancel</button>
            </div>
            
            
            
            
    
        
        
        
    </div>

</div>