
.bg-perpule {
    background-color: #6b7e9c !important;
}
.bg-lightBlue {
    background-color: #5482d7 !important;
}
.bg-blue {
    background: linear-gradient(to right, #fe5d70, #fe909d);
    /* background-color: #533ea9 !important; */
}
.bg-green {
    background: linear-gradient(to right, #01a9ac, #01dbdf);
    /* background-color: #92d050 !important; */
}
.bg-lightGreen {
    background-color: #a4d681 !important;
}

.bg-sub-healthReport {
    background: linear-gradient(to right, #fe9365, #feb798);
    /* background-color: #90c7da !important; */
}
.bg-sub-healthReports {
    background: linear-gradient(to right, #679fe4, #6acbe0);
    
    /* background: linear-gradient(to right, #679fe4, #f3dcfb); */
    /* background: linear-gradient(to right, #6859ea, #679fe4); */
    /* background: linear-gradient(to right, #cdd467, #2d353a); */
    /* background-color: #90c7da !important; */
}

.bg-sub-healthData {
    background-color: #c097cc !important;
}

.bg-sub-app {
    background-color: #515151 !important;
}

.bg-yellow {
    /* background-color: #e7ad36 !important; */
    background: linear-gradient(to right, #ffc107, #fff792b8);
    /* background: linear-gradient(to right, #0ac282, #0df3a3); */
}


/* .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
}
  
.someimg:hover .overlay {
    display: block;
    background: rgba(0, 0, 0, .3);
} */
#fileInput{
    display: none;
  }
.button {
    position: absolute;
    /* width: 500px; */
    /* left: 61px;
    top: 71px; */
    left: 26%;
    top: 13%;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
  }
  
  .button a {
    width: 200px;
    padding: 12px 48px;
    text-align: center;
    /* color: white;
    border: solid 2px white; */
    z-index: 1;
  }
  .card-body-icon:hover .someimg{
    opacity: 0.4;
    cursor: pointer;
  }
  
  .card-body-icon:hover .button {
    opacity: 1;
  }

  
  

a{
    text-decoration: none;
}
.btn-custom {
    color: #fff;
    background-color: #863695;
    border-color: #801894;
}


.col-xs-12:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 0px 0px rgba(38, 38, 38, 0.2);
    top: -10px;
    cursor: pointer;
    background-color: rgb(252, 250, 250);
  }