.backdrop{
 
    background-color:rgba(0,0,0,0.6);
     
    position:fixed;
     
    top:0;
     
    left:0;
     
    width:100%;
     
    height:100vh;
     
    }
    
    .modal{
        background: rgba(0,0,0,0.6);
        z-index: 999 !important;
    }

    .owl-dt-container{
         z-index: 9999 !important;
    }
 
    .spinner{
        position: absolute;
        top: 2em;
        right: 0px;

    }

    .c-switch-label.c-switch-lg .c-switch-input:checked~.c-switch-slider::before {
        
        transform: translateX(36px) !important;
    }

    .c-switch-label.c-switch-lg {
        width: 80px !important;
       
    }
    .c-switch-label.c-switch-lg .c-switch-slider::before {
        width: 35px !important;
       
    }
    .c-switch-label .c-switch-slider::after {
        
        color: #222 !important;
    
    }

    



