<app-admin-nav></app-admin-nav>

<div class="container-fluid">  
         <div class="card mt-3">
            <div class="card-body">
                  <ngx-spinner
            bdOpacity = 0.9
            bdColor = "rgba(0,0,0,0.5)"
            size = "medium"
            color = "#0e9948"
            type = "ball-8bits"
            [fullScreen] = "true"
            >
            <p style="color: white" > Loading... </p>
          </ngx-spinner> 
                 
          <div class="d-flex justify-content-center align-items-center">
            <form [formGroup]="filter" (ngSubmit)="filterForm(filter)" class="form-inline">
              <div class="form-group mb-2">
                <label for="staticEmail2" class="col-form-label-sm col-sm-8"><b>Membership ID:</b></label>
                <div class="col-sm-12">
                  <input type="text" class="form-control" formControlName="membership_id" id="staticEmail2"
                    placeholder="Membership ID">
                </div>
              </div>
              <div class="form-group  mb-2">
                <label for="inputPassword2" class="col-form-label-sm col-sm-6"><b>Membership Certificate No:</b></label>
                <div class="col-sm-12">
                  <input type="text" class="form-control" formControlName="mem_cer_no" id="inputPassword2"
                    placeholder="Membership Certificate No">
                </div>
              </div>
              <button type="submit" class="btn btn-primary mt-2"> Search</button>
            </form>
          </div>
          <div class="container mx-auto">                                   
 <table class="table table-bordered" *ngIf="tableView">
      <thead>
     <tr>
       <th scope="row"> Membership ID </th>
       <th scope="row"> Company Name</th>
       <th scope="row"> Branch </th>
       <th scope="row"> Memebership Certificate ID </th>
       <th scope="row"> Issued Date </th>
       <th scope="row"> View </th>
     </tr>
   </thead>
   <tbody>
    <tr *ngFor="let item of membershipList">

      <td>{{item.membership_id}}</td>
      <td>{{item.member_company_name}}</td>
      <td>{{item.branch_name}}</td>
      <td>{{item.certificate_no}}</td>
      <td>{{item.cert_issued_date | date:'d-M-y'}}</td>
      <td><a (click)="view(item)" style="cursor: pointer;">View</a></td>
      <!-- <td><i class="fa fa-eye" aria-hidden="true"></i></td> -->
   </tr>
   
   </tbody>
  </table>
  </div>
  </div></div>

  <div *ngIf="downloadView" class="text-center mt-3">
    <button type="button" (click)="downloadPdf()" class="btn btn-primary btn-sm" style="margin-bottom: 16px;"> Download</button>

<div class="justify-content-center">
     
    <div id="downloadView" #content class="content certificate">

     <div class="certificate--inner-wrap ">
        <!-- <img class="img-responsive" height="63" width="150" src="../../assets/cma.jpeg" style="margin-bottom: 16px;"/> -->
       
       <h1><img src="https://www.shinjiru.com.my/wp-content/themes/sj_child/assets/img/clients/micci.jpg" alt="" style="width: 35%;"/></h1>

       <p><strong>SINGAPORE OVERSEAS CENTER OF COST ACCOUNTANT</strong></p>
       
       <span class="certificate--name h2">CERTIFICATE OF MEMBERSHIP</span>
       
       <p><strong>this is to certify that</strong></p>
       
       <span class="certificate--course h1">{{companyName}}</span>
       
       <!-- <p><strong>Firma del encargado</strong></p> -->
       
      <p><span class="certificate-Firma"><img src="https://restaurantemalahierba.com/wp-content/uploads/2018/08/firma-lester.png" alt="" /></span></p>
       
       <span class="certificate--date">{{issuedDate | date:'d-M-y'}}</span>
       
       <!-- <span class="certificate--from"><img src="https://www.shinjiru.com.my/wp-content/themes/sj_child/assets/img/clients/micci.jpg" alt="" /></span> -->
       
     </div>
     
   </div>
  
  
  
  </div>
  
  </div>
  </div>

<!-- 

  <div class="modal fade bd-example-modal-lg" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Filter</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
        </div>

       
        
       
        
               </div>
            </div>
  </div>  -->





