<div class="card bg-light" style ="width: 50%;margin-left: 25%; margin-top: 10%; border-color: #007bff;border-width: 3px;border-radius: 10px;">
    <div class="card-body">
      
          <p>Hello,<b id="fname"></b><br>
           <a style="color: #33aa52;">Your authentication is successful.</a>  Thank you for  Register.						
				  </p>

        <!-- <br> -->
        <div style="text-align: center;">

            <button class="btn btn-primary" >
                Sign In
            </button>
        </div>
    </div>

  </div>